.App {
  background-color: black;
  color: white;
  font-family: sans-serif;
}
p {
  margin-top: 8px;
  justify-content: center;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-style :unset;
  font-size: larger;
}